extends ../layouts/default

block content
	.container
		.tabs.is-toggle.is-fullwidth
			ul
				li.speakers-button.is-active
					a
						span Speakers
				li.films-button
					a
						span Films
				li.concerts-button
					a
						span Concerts

		.tile.is-ancestor
			.tile.is-parent.is-vertical.is-3
				article.tile.is-child.notification.is-primary
					p.title Vertical...
					p.subtitle Top tile
				article.tile.is-child.notification.is-warning
					p.title ...tiles
					p.subtitle Bottom tile
				article.tile.is-child.notification.is-primary
					p.title Vertical...
					p.subtitle Top tile
				article.tile.is-child.notification.is-warning
					p.title .. CEC IS AWESOME
					p.subtitle Bottom tile
						// Content
			.tile.is-vertical.is-6
				.tile
					.tile.is-parent.is-vertical
						article.tile.is-child.notification.is-primary
							p.title Test Tile
							p.subtitle Test tile
						article.tile.is-child.notification.is-success
							p.title Test Tile
							p.subtitle Test tile
					.tile.is-parent.is-vertical
						article.tile.is-child.notification.is-primary
							p.title Test Tile
							p.subtitle Test tile
						article.tile.is-child.notification.is-success
							p.title Test Tile
							p.subtitle Test tile
				.tile.is-parent
					article.tile.is-child.notification.is-danger
						p.title About Campus Events Commission
						p.subtitle placeholder text
				.tile
					.tile.is-parent.is-vertical
						article.tile.is-child.notification.is-warning
							p.title Test Tile
							p.subtitle Test tile
						article.tile.is-child.notification.is-primary
							p.title Test Tile
							p.subtitle Test tile
					.tile.is-parent.is-vertical
						article.tile.is-child.notification.is-warning
							p.title Test Tile
							p.subtitle Test tile
						article.tile.is-child.notification.is-primary
							p.title Test Tile
							p.subtitle Test tile

			.tile.is-parent.is-vertical.is-3
				article.tile.is-child.notification.is-primary
					p.title Vertical...
					p.subtitle Top tile
				article.tile.is-child.notification.is-warning
					p.title ...tiles
					p.subtitle Bottom tile
				article.tile.is-child.notification.is-primary
					p.title Vertical...
					p.subtitle Top tile
				article.tile.is-child.notification.is-warning
					p.title ...tiles
					p.subtitle Bottom tile
